<%= render 'shared/topnav' %>

<div class= "container">
<div class="row">
<div class="col-md-6">
 	<div class="panel panel-default">
		  <%= will_paginate @posts %>
		<div class="panel-heading"><h4><%= @category.name%> bölməsindəki yazılar</h4></div>
		<% @posts.each do |post| %>   			
   			<div class="panel-body">
        	<div class="clearfix"></div>
            	  <% if post.image %>
           			<img src="<%= post.image %>" class="img-circle pull-right" width="80px" >
        		  <% end %>
        			<p><%= link_to post.title, post %></p>
        			<p><%= post.body[0..300] %></p>
        			<hr>
        			<p class="text-right"><%= link_to post.author.fullname, author_path(:id => post.author.id) %>||<%= post.created_at.strftime("%b %d, %Y") %></p>
        			<hr>
        			
			</div>
	   <% end %>
	   <%= will_paginate @posts %>
	</div>
</div>
<div class="col-md-3"></div>
<div class="col-md-3">
<ul class="list-group">
<p>Bütün yazılar</p>
 <% Post.order(created_at: :desc).first(10).each do |p| %>
  <li class="list-group-item"><%= link_to p.title, p %> (<%= p.created_at.getlocal.strftime("%b %d, %Y") %>)</li>
 <% end %>
</ul>
</div>
</div>
</div>






<%= render 'shared/footer' %>



